name: Build and push
on:
  push:
    branches:
      - "*"
  workflow_dispatch:
    inputs:
      publish:
        description: Publish
        type: choice
        options:
          - varnish-cache
          - orca-chart
          - varnish-enterprise

jobs:
  build_and_push:
    strategy:
      matrix:
        chart:
          - varnish-cache
          - orca-chart
          - varnish-enterprise
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: "Install system dependencies"
        run: |
          curl -sL https://get.helm.sh/helm-v3.19.0-linux-amd64.tar.gz -o /tmp/helm.tar.gz
          tar xavf /tmp/helm.tar.gz
          mv linux-amd64/helm /usr/local/bin/helm

          pip install yq

          sudo apt-get update
          sudo apt-get install -y --no-install-recommends bats parallel
      - name: "Add Helm dependencies"
        # See also: https://circleci.com/docs/env-vars/#alpine-linux
        run: |
            cd ${{ matrix.chart }}
            # Helm is painful https://github.com/helm/helm/issues/8036
            i=0
            yq -r '.dependencies[]?.repository' < Chart.yaml | while read -r p; do
              i=$((i+1))
              helm repo add dep$i "$p"
            done
            helm dependency build
      - name: "Unit tests"
        run: |
          ${{ matrix.chart }}/test/unit_common/run.sh -j $(nproc)
      - name: Create package
        run: |
          helm package "${{ matrix.chart }}"
          mkdir -p /tmp/artifacts
          mv "${{ matrix.chart }}"-*.tgz /tmp/artifacts
      - name: "Push chart"
        if: ${{ github.event.inputs.publish == matrix.chart }}
        run: |
          echo ${{ secrets.DOCKERHUB_TOKEN }} | helm registry login -u "varnish" --password-stdin registry-1.docker.io
          helm push /tmp/artifacts/"${{ matrix.chart }}"-*.tgz "oci://registry-1.docker.io/varnish"
      - name: "Push chart to packagecloud"
        if: ${{ github.event.inputs.publish == matrix.chart }}
        uses: computology/packagecloud-github-action@v0.8
        with:
          PACKAGE-NAME: /tmp/artifacts/"${{ matrix.chart }}-*.tgz"
          PACKAGECLOUD-USERNAME: varnishplus
          PACKAGECLOUD-REPONAME: helm-staging
